/**
 * Thumbnails
 */
@import "compass/css3";

.thumbnails {
	display: block;

	.thumbnail {
		@include leader;
		&:hover {
			background: $secondary-b-brighter;
		}
		&:active {
			background: $secondary-b-brightest;
		}
	}

	a,
	a:hover,
	a:visited {
		color: $base-text-color;
	}

}

@include breakpoint(desktop) {
	.thumbnails {
		@include display-box;
		@include box-align(stretch);
		@include leader;
		@include trailer;

		.thumbnail {
			@include box-flex(1);
			padding: 0 $base-font-size;
		}
	}
}
