/**
 * variables
 */
$base-font-size: 16px;
$base-line-height: 24px;
$base-font-family: "Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro W3",メイリオ,Meiryo,sans-serif;

// Color Scheme
// http://colorschemedesigner.com/#1h31Tw0w0w0w0
//---------------
$primary-base: #FFC700;
$primary-base-darker: #BFA030;
$primary-base-darkest: #A68100;
$primary-base-brighter: #FFD540;
$primary-base-brightest: #FFE073;

$secondary-a-base: #5E0DAC;
$secondary-a-base-darker: #552781;
$secondary-a-base-darkest: #3B0470;
$secondary-a-base-brighter: #8D41D6;
$secondary-a-base-brightest: #A069D6;

$secondary-b-base: #0E53A7;
$secondary-b-base-darker: #274E7D;
$secondary-b-base-darkest: #04346C;
$secondary-b-base-brighter: #4284D3;
$secondary-b-base-brightest: #6899D3;


// Base colors
// Color Scheme: http://colorschemedesigner.com/#1h31Tw0w0w0w0
//---------------
$base-background-color: #000;
$base-text-color: #ddd;
$base-text-color-link-normal: $secondary-b-base-brighter;
$base-text-color-link-hover: $secondary-b-base-brightest;
$base-text-color-link-active: $secondary-a-base;
$base-text-color-link-visited: $base-text-color-link-normal;
$base-text-color-link-focus: $base-text-color-link-active;

$btn-background-color: $secondary-b-base-brighter;
$btn-background-color-hover: $secondary-b-base-darkest;
$btn-background-color-active: $secondary-a-base;
$btn-text-color: #fff;
// $btn-text-color-link-normal: #4284D3;
// $btn-text-color-link-hover: #5EA7FF;
// $btn-text-color-link-active: #FA5EFF;
// $btn-text-color-link-visited: $btn-text-color-link-normal;
// $btn-text-color-link-focus: $btn-text-color-link-active;

// Break points
//---------------
$breakpoint-smartphone: 320;
