/**
 * variables
 */
$base-font-size: 16px;
$base-line-height: 24px;
$base-font-family: "Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro W3",メイリオ,Meiryo,sans-serif;

// Color Scheme
// http://colorschemedesigner.com/#1q31TppaFebqw
//---------------
$primary-base:          #554912;
$primary-darker:        #4C4216;
$primary-darkest:       #483D0C;
$primary-brighter:      #9B8B3A;
$primary-brightest:     #9B8E4E;

$secondary-a-base:      #2A0E39;
$secondary-a-darker:    #261132;
$secondary-a-darkest:   #220930;
$secondary-a-brighter:  #6D388B;
$secondary-a-brightest: #74498B;

$secondary-b-base:      #101D39;
$secondary-b-darker:    #131C33;
$secondary-b-darkest:   #0B1630;
$secondary-b-brighter:  #3D548B;
$secondary-b-brightest: #4D608B;


// Base colors
// Color Scheme: http://colorschemedesigner.com/#1h31Tw0w0w0w0
//---------------
$base-background-color: #000;
$base-text-color: #d9d9d9;
$base-text-color-link-normal: $secondary-a-brighter;
$base-text-color-link-hover: $secondary-a-brightest;
$base-text-color-link-active: $secondary-b-brighter;
$base-text-color-link-visited: $base-text-color-link-normal;
$base-text-color-link-focus: $base-text-color-link-active;

$btn-background-color: $secondary-a-base;
$btn-background-color-hover: $secondary-a-brighter;
$btn-background-color-active: $secondary-b-brightest;
$btn-text-color: #fff;
// $btn-text-color-link-normal: #4284D3;
// $btn-text-color-link-hover: #5EA7FF;
// $btn-text-color-link-active: #FA5EFF;
// $btn-text-color-link-visited: $btn-text-color-link-normal;
// $btn-text-color-link-focus: $btn-text-color-link-active;

$title-background-color: $primary-base;
$published-background-color: $secondary-b-base;
$samples-background-color: $secondary-a-base;

// Break points
//---------------
$breakpoint-smartphone: 480;
