/**
 * variables
 */
$base-font-size: 16px;
$base-line-height: 24px;
$base-font-family: "Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro W3",メイリオ,Meiryo,sans-serif;

// Color Scheme
// http://colorschemedesigner.com/#0X31Tw0w0w0w0
//---------------
$primary-base: #FFAA00;
$primary-base-darker: #BF8F30;
$primary-base-darkest: #A66E00;
$primary-base-brighter: #FFBF40;
$primary-base-brightest: #FFD073;

$secondary-a-base: #3914AF;
$secondary-a-base-darker: #412C84;
$secondary-a-base-darkest: #200772;
$secondary-a-base-brighter: #6A48D7;
$secondary-a-base-brightest: #876ED7;

$secondary-b-base: #009999;
$secondary-b-base-darker: #1D7373;
$secondary-b-base-darkest: #006363;
$secondary-b-base-brighter: #33CCCC;
$secondary-b-base-brightest: #5CCCCC;


// Base colors
// Color Scheme: http://colorschemedesigner.com/#1h31Tw0w0w0w0
//---------------
$base-background-color: #000;
$base-text-color: #ddd;
$base-text-color-link-normal: $secondary-a-base-brighter;
$base-text-color-link-hover: $secondary-a-base-brightest;
$base-text-color-link-active: $secondary-b-base-brighter;
$base-text-color-link-visited: $base-text-color-link-normal;
$base-text-color-link-focus: $base-text-color-link-active;

$btn-background-color: $secondary-a-base-brighter;
$btn-background-color-hover: $secondary-a-base-darkest;
$btn-background-color-active: $secondary-b-base;
$btn-text-color: #fff;
// $btn-text-color-link-normal: #4284D3;
// $btn-text-color-link-hover: #5EA7FF;
// $btn-text-color-link-active: #FA5EFF;
// $btn-text-color-link-visited: $btn-text-color-link-normal;
// $btn-text-color-link-focus: $btn-text-color-link-active;

$title-background-color: $primary-base;
$published-background-color: $secondary-b-base;
$samples-background-color: $secondary-a-base;

// Break points
//---------------
$breakpoint-smartphone: 480;
