/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3/background-size";
@import "compass/reset";
@import "compass/typography/links/link-colors";
@import "compass/typography/vertical_rhythm";
@import "compass/utilities/general/clearfix";

@import "_variables.scss";
@import "_mixins.scss";

@import "_buttons.scss";
@import "_thumbnails.scss";

/* -----------------------
 * General Configurations
 * -----------------------*/
@include establish-baseline;

img {
	max-width: 100%;
	height: auto;
}

html {
	height: 100%;
}

body {
	height: 100%;
	color: $base-text-color;
	background: $base-background-color;
	font-family: $base-font-family;

	&#home {
		background: #000 url(../img/bg_home.jpg) no-repeat center center fixed;
		@include background-size(cover);
	}
}

footer {
	position: absolute;
	bottom: 0;
	height: $base-font-size * 2;
	width: 100%;
	text-align: center;
	margin: 0 auto;
}

a {
	@include link-colors($base-text-color-link-normal, $base-text-color-link-hover, $base-text-color-link-active, $base-text-color-link-visited, $base-text-color-link-focus);
	text-decoration: none;
}

.container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position: relative;
}

section {
	@include padding-leader(4);
	@include padding-trailer(4);
}

.title {
	color: #000;
	background: $primary-base;
	
	font-size: $base-font-size * 6;
	line-height: $base-font-size * 6;
	text-align: center;
	word-wrap: break-word;

	@include padding-leader;
	@include padding-trailer;
}

.published {
	color: $base-text-color;
	background: $secondary-a-base;

	text-align: center;

	h2 {
		font-size: $base-font-size * 2;
	}

	img {
		display: block;
		margin: 0 auto;
	}

	p {
		text-align: center;
	}

	a {
		color: $base-text-color;
	}
}

.centered {
	margin: 0 auto;
}
