/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3/background-size";
@import "compass/css3/transition";
@import "compass/reset";
@import "compass/typography/links/link-colors";
@import "compass/typography/vertical_rhythm";
@import "compass/utilities/general/clearfix";

@import "_variables.scss";
@import "_mixins.scss";

@import "_buttons.scss";
@import "_drawer.scss";
@import "_forms.scss";
@import "_hook.scss";
@import "_suggests.scss";
@import "_thumbnails.scss";

/* -----------------------
 * General Configurations
 * -----------------------*/
@include establish-baseline;

$footer-lines: 6;
$footer-height: $base-font-size * $footer-lines;

img {
	max-width: 100%;
	height: auto;
}

html, body {
	height: 100%;
	overflow: hidden;
}

body {
	color: $base-text-color;
	background: $base-background-color;
	font-family: $base-font-family;

	&#home {
		background: #000 url(../img/bg_home.jpg) no-repeat center center fixed;
		@include background-size(cover);
	}
}

footer {
	position: absolute;
	bottom: 0;
	height: $footer-height;
	line-height: $base-font-size * 3;
	width: 100%;
	text-align: center;
	margin: 0 auto;
}

.social-icons {
	margin: 0 auto;
	width: 100%;
}

a {
	@include link-colors($base-text-color-link-normal, $base-text-color-link-hover, $base-text-color-link-active, $base-text-color-link-visited, $base-text-color-link-focus);
	text-decoration: none;
}

.container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position: relative;
	padding-bottom: $footer-height;
}

.centered {
	margin: 0 auto;
}

.wrapper {
	display: table;
	width: 100%;
	height: 100%;
	min-height: 100%;
}

.wrapper-inner {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
